<style>
    *{padding:0;margin:0;background:#ffffff;}
img{display: block;
  margin-left: auto;
  margin-right: auto;}
  .btn1{text-align:center; }
</style>

<title>Page Not Found</title>
<img src="https://cdn.dribbble.com/users/718859/screenshots/3267029/jisunpark_404-error.gif">
{{!-- <div class="btn1">
 <a href="#" class="btn btn-primary home-btn-transform m-3 " data-abc="true">Go to Home</a>
</div> --}}