<section>
        <div class="container mt-5">
            <div class="row">
                {{#each products}}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top"
                            src="{{this.Image}}"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.description}}</p>
                            <h3 class="card-price">{{this.price}}</h3>
                            <a href="#" class="btn btn-primary">Add TO CART</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>